{% extends 'base.html' %}

{% block title %} Sign Up | Projects {% endblock %}

{% block extra_css %}
<style>

.input-container {
        position: relative;
        margin-bottom: 20px;
        padding-top: 20px;
        margin: 30px auto;
        display: block;
        width: 50%;
    }

    .input-container input,
    .input-container select {
        box-sizing: border-box;
        background-color: transparent;
        width: 100%;
        padding: 15px 13px;
        border-radius: 10px;
        font-size: 16px;
        transition: border-color 0.2s ease-in-out;
        margin-bottom: 0;
    }


    .input-container input
    .input-container select:focus {
        outline: none;
        border-color: #007bff;
    }

    .label-float {
        position: absolute;
        top: 0;
        left: 13px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        pointer-events: none;
        transition: all 0.2s ease-in-out;
    }

    .input-container input + .label-float,
    .input-container select + .label-float,
    .input-container input:not(:placeholder-shown) + .label-float 
    .input-container select:not(:placeholder-shown) + .label-float 
    {
        transform: translateY(5px) scale(0.85);
        color: #007bff;
        background-color: var(--light);
        padding: 0 5px;
    }

    .beautiful-button {
        margin-top: 30px;
        display: inline-block;
        align-items: center;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #ffffff; /* Text color */
        background-color: #007bff; /* Primary background color */
        border: none;
        border-radius: 25px; /* Rounded corners */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
        transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Smooth transitions */
        cursor: pointer;
        margin: 30px auto;
        display: block;
        width: 40%;
    }

    .beautiful-button:hover {
        background-color: #0056b3; /* Darker color on hover */
        transform: translateY(-2px); /* Lift button slightly on hover */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
    }

    .beautiful-button:active {
        transform: translateY(0); /* Push button down when clicked */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Original shadow when clicked */
    }

    .checkbox-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px auto;
        width: 50%;
        gap: 8px;
    }

    .alert {
        color: red;
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if forloop.last %}
        <div class="alert">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}

    <div class="input-container">
        <input type="text" name="name" id="name" required>
        <label for="name" class="label-float">Nome Completo</label>
    </div>

    <div class="input-container">
        <input type="email" name="email" id="email" required>
        <label for="email" class="label-float">Email</label>
    </div>

    <div class="input-container">
        <input type="text" name="cpf" id="cpf" required>
        <label for="cpf" class="label-float">CPF</label>
    </div>

    <div class="input-container">
        <input type="date" name="birth" id="birth" placeholder="DD-MM-YYYY">
        <label for="birth" class="label-float">Data de Nascimento</label>
    </div>

    <div class="input-container">
        <input type="text" name="phone" id="phone" required>
        <label for="phone" class="label-float">Telefone</label>
    </div>

    <div class="input-container">
        <input type="password" name="password" id="pass" required>
        <label for="password" class="label-float">Senha</label>
    </div>

    <div class="input-container">
        <input type="password" name="password_confirm" id="passc" required>
        <label for="password_confirm" class="label-float">Confirme a Senha</label>
    </div>
    
    <div class="checkbox-wrapper">
        <input type="checkbox" name="use_term" id="check">
        <label for="check">Aceito os Termos de Uso</label>
    </div>

    <button 
        type="submit"
        class="beautiful-button"
    >
        Sign Up
    </button>

</form>

<p style="text-align: center;">
    Já possui uma conta? Faça <a href="/login">Login</a>!
</p>

{% endblock %}

{% block extra_js %}

<script>

    const cpfInput = document.getElementById('cpf')
    
    cpfInput.addEventListener('input', () => {
        let value = cpfInput.value.replace(/\D/g, '')
        
        if (value.length > 11) value = value.slice(0, 11)
        
        value = value.replace(/(\d{3})(\d)/, '$1.$2')
        value = value.replace(/(\d{3})(\d)/, '$1.$2')
        value = value.replace(/(\d{3})(\d{1,2})$/, '$1-$2')
        
        cpfInput.value = value
    })



    const phoneInput = document.getElementById('phone')
    
    phoneInput.addEventListener('input', () => {
        let value = phoneInput.value.replace(/\D/g, '')

        if (value.length > 11) value = value.slice(0, 11)

        value = value.replace(/(\d{2})(\d)/, '($1) $2')
        value = value.replace(/(\d{5})(\d{4})$/, '$1-$2')

        phoneInput.value = value
    })

</script>

{% endblock %}
