{% extends "base.html" %}

{% block extra_css %}

<style>

    .main-div {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }

    .container-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container-title p {
        margin: 10px;
    }

    .add-button {
        background-color: aqua;
        border: none;
        font-size: large;
        margin-right: 5px;
        border-radius: 10pt;
    }

    .container {
        border-radius: 10pt;
        width: 100%;
        height: auto;
        margin: 0 5pt 0 5pt;
        background-color: #ffffff;
    }

    .container-users {
        border-radius: 10pt;
        width: 80%;
        height: auto;
        margin: 0 5pt 0 5pt;
        background-color: #ffffff;
        padding: 0 10px 0 10px;
        display: block;
    }

    .container-users div {
        padding: 5px 10px 5px 10px;
    }

    .no-items-p {
        text-align: center;
        align-items: center;
        color: gray;
        font-size: small;
    }

    .container.drag-over {
        background: #dbeafe;
    }

    .card {
        background: #e5e7eb;
        padding: 10px;
        margin: 15px;
        border-radius: 8px;
        margin-bottom: 10px;
        cursor: grab;
    }

    .card:active {
        cursor: grabbing;
    }

    .task-form {
        margin-bottom: 15px;
        align-items: center;
        margin: auto;
        padding-left: 20px;
    }

    .hidden {
        display: none;
    }

    .input-container {
        position: relative;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    .input-container input[type="text"],
    .input-container input[type="date"],
    .input-container select {
        box-sizing: border-box;
        background-color: transparent;
        width: 80%;
        padding: 15px 13px;
        border-radius: 4px;
        font-size: 16px;
        transition: border-color 0.2s ease-in-out;
        margin-bottom: 0;
    }


    .input-container input[type="text"]:focus,
    .input-container input[type="date"]:focus,
    .input-container select:focus {
        outline: none;
        border-color: #007bff;
    }

    .label-float {
        position: absolute;
        top: 0;
        left: 13px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        pointer-events: none;
        transform: translateY(35px);
        transition: all 0.2s ease-in-out;
    }

    .input-container input + .label-float,
    .input-container select + .label-float,
    .input-container input:not(:placeholder-shown) + .label-float 
    .input-container select:not(:placeholder-shown) + .label-float 
    {
        transform: translateY(5px) scale(0.85);
        color: #007bff;
        background-color: #fff;
        padding: 0 5px;
    }


    .beautiful-button {
        display: inline-block;
        align-items: center;
        width: 80%;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #ffffff; /* Text color */
        background-color: #007bff; /* Primary background color */
        border: none;
        border-radius: 25px; /* Rounded corners */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
        transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Smooth transitions */
        cursor: pointer;
    }

    .beautiful-button:hover {
        background-color: #0056b3; /* Darker color on hover */
        transform: translateY(-2px); /* Lift button slightly on hover */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
    }

    .beautiful-button:active {
        transform: translateY(0); /* Push button down when clicked */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Original shadow when clicked */
    }

    .alert {
        color: red;
        margin-bottom: 10px;
    }

</style>

{% endblock %}


{% block content %}

<div style="display: flex; align-items: flex-center; margin-bottom: 10px;">
    <h1 class="" id="project_name_text">{{ project.name }}</h1>
    <input type="text" name="project_name_field" id="project_name_field"
        style="width: 30%; font-size: xx-large; font-weight: bold; background-color: transparent; border: none; margin-bottom: 30px; margin-top: 30px;"
        class="hidden" value="{{ project.name }}"
        onblur="updateProjectName('{{ project.name }}', '{{ project.id }}')"
    >
    
    <button 
        style="margin-left: 15px; background-color: transparent; border: none;"
        onclick="toggleProjectName()"
    >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
            <path d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z" />
            <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z" />
        </svg>
        <p style="visibility: hidden; margin-top: -35px; padding: 0;">edit</p>
    </button>
</div>


<div>
    <p>
        Projeto de {{ project.owner.complete_name }}
    </p>
</div>

<div style="display: flex; justify-content: space-between; margin-bottom: 20px; font-weight: bold;">
    <div>Data de Início: {{ project.start_date }}</div>

    <hr>

    <div>Data de Finalização: {{ project.end_date }}</div>
</div>

{% if messages %}
    {% for message in messages %}
        {% if forloop.last %}
        <div class="alert">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="main-div">
    {% for id, status, task_name, tasks_values in tasks %}
        <div class="container" id="{{ status }}" name="{{ status }}">
            <div class="container-title">
                <p>{{ task_name }}</p>
                <button 
                    class="add-button" 
                    alt="Adicionar Tarefa" 
                    id="add_task{{ id }}"
                    onclick="toggleForm('{{ id }}')"
                >
                    +
                </button>
            </div>

            <form method="POST" id="task-form-{{ id }}" name="task-form-{{ id }}"  class="task-form hidden">
                {% csrf_token %}
                <div class="input-container">
                    <input type="text" name="title" id="title" required>
                    <label for="title" class="label-float">Nome</label>
                </div>

                <div class="input-container">
                    <input type="text" name="description" id="description" required>
                    <label for="description" class="label-float">Descrição</label>
                </div>

                <div class="input-container">
                    <input type="date" name="date" id="date" placeholder="DD-MM-YYYY">
                    <label for="date" class="label-float">Previsão</label>
                </div>

                <input type="hidden" name="status" id="status" value="{{ status }}">


                <div class="input-container">
                    <select name="user_id" id="user_id" required>
                        <option value="">-- Select --</option>
    
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.complete_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="user_id" class="label-float">Responsável</label>
                </div>

                <button 
                    type="submit"
                    class="beautiful-button"
                    value="task-form-{{ id }}"
                >
                    Adicionar
                </button>
            </form>

            {% if tasks_values|length == 0 %}
                <p class="no-items-p">Sem Itens</p>
            {% else %}

                {% for task in tasks_values %}
                    <div draggable="true" class="card" id="{{ task.id }}">
                        <div style="display: flex; justify-content: space-between; align-items: flex-end">
                            <h3>
                                {{ task.title }}
                            </h3>

                            <button
                                style="border-radius: 15pt; background-color: red; border: none; color: var(--light); width:15%; height: 30px;"
                                onclick="deleteTask('{{ task.id }}')"
                            >
                                X
                            </button>
                        </div>
                        

                        <h6>
                            {{ task.description }}
                        </h6>
                        

                        {% if task.forecast is not None %}
                        <p>
                            {{ task.forecast }}
                        </p>
                        {% endif %}

                        <p style="font-size: smaller;">
                            {{ task.owner.complete_name }}
                        </p>
                    </div>
                {% endfor %}

            {% endif %}
        </div>
    {% endfor %}

    <div class="container-users">
        <div class="container-title">
            <p style="text-align: center;">Usuários Envolvidos</p>
        </div>
        {% for user in related_users %}
            <div style="background-color: var(--gray); font-size: small; margin-bottom: 10px; border-radius: 10pt; color: var(--light);">
                {{ user.complete_name }}
            </div>
        {% endfor %}
    </div>

    <input type="hidden" id="change-cards-form" value="{{ csrf_token }}">
    <input type="hidden" id="change-project-name" value="{{ csrf_token }}">
    <input type="hidden" id="delete-task" value="{{ csrf_token }}">

</div>


{% endblock %}


{% block extra_js %}

<script>

function toggleForm(status) {
    const form = document.getElementById(`task-form-${status}`);
    form.classList.toggle("hidden");
}

function toggleProjectName() {
    const projectName = document.getElementById('project_name_text');
    const projectNameField = document.getElementById('project_name_field');

    projectName.classList.toggle("hidden");
    projectNameField.classList.toggle("hidden");

    const isHidden = projectNameField.classList.contains('hidden');

    if (!isHidden) {
        projectNameField.focus();
        return;
    }
}


function updateProjectName(projectName, projectId) {
    const csrfToken = document.getElementById('change-project-name').value;

    const projectNameField = document.getElementById('project_name_field');
    const nameValue = projectNameField.value;

    if (projectName === nameValue) {
        toggleProjectName();
        return;
    }

    fetch(`/projects/${projectId}/name/`, {
        method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({
                project_name: nameValue
            })
    })
    .then(res => {
        if (!res.ok) throw new Error('Erro ao salvar')
        window.location.reload()
    })
    .catch(err => {
        console.error(err)
        alert('Erro ao atualizar. Recarregue a página.')
    })

    toggleProjectName();
}



function deleteTask(taskId) {
    const csrfToken = document.getElementById('delete-task').value;

    fetch(`/items/${taskId}/delete/`, {
        method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
    })
    .then(res => {
        if (!res.ok) throw new Error('Erro ao salvar')
        window.location.reload()
    })
    .catch(err => {
        console.error(err)
        alert('Erro ao atualizar. Recarregue a página.')
    })
}


let draggedItem = null;

document.querySelectorAll('.card').forEach(card => {
    card.addEventListener('dragstart', e => {
        draggedItem = card
        card.classList.add('dragging')
    })

    card.addEventListener('dragend', e => {
        card.classList.remove('dragging')
        draggedItem = null
    })
})


document.querySelectorAll('.container').forEach(column => {
    column.addEventListener('dragover', e => {
        e.preventDefault()
    })

    column.addEventListener('drop', e => {
        e.preventDefault()

        if (!draggedItem) return

        column.appendChild(draggedItem)

        sendUpdate(draggedItem.id, column.id)
    })
})


function sendUpdate(card, column) {
    const csrfToken = document.getElementById('change-cards-form').value

    fetch(`/items/${card}/`, {
        method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({
                status: column
            })
    })
    .then(res => {
        if (!res.ok) throw new Error('Erro ao salvar')
        window.location.reload()
    })
    .catch(err => {
        console.error(err)
        alert('Erro ao atualizar. Recarregue a página.')
    })
}

</script>

{% endblock %}
